<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Clave Actual</ion-label>
          <ion-input type="password" [(ngModel)]="claveActual"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nueva Clave</ion-label>
          <ion-input type="password" [(ngModel)]="nuevaClave"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Confirmar Clave</ion-label>
          <ion-input type="password" [(ngModel)]="confirmarClave"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="cambiarClave()" fill="outline" expand="full">Cambiar Clave</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>