<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis asistencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ng-container *ngFor="let asignatura of asignaturas">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ asignatura.nombre }}</ion-card-title>
        {{ asignatura.siglas }}
      </ion-card-header>
      <ion-card-content>
        {{asignatura.asistencia}} / {{asignatura.totalClases}}
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>